/results/*
DSC2026-LegalIR-main/
dsc_env_huy/
fine_tune/

__pycache__/
*.py[cod]
*$py.class

cache/
.cache/
models/

!/results/from_drive/
/results/from_drive/*

!results/from_drive/fine_tune_source_code/
!results/from_drive/fine_tune_source_code/**